  a{
    padding: 15px 15px;
    color: #83e49d;
    text-decoration: none;
    font-weight: 600;
  }
  a:hover{
    color: #01b4e4;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  nav {
    z-index: 1;
    height: 50px;
    background:  #01172e;
    position: relative;
  }
  .sticky + section{
    padding-top: 65px;
  }

  .menuLayer:hover{
    background-color: #0d253f;
    border-radius: 25px;
    text-decoration: none;
    color: #01b4e4;
    cursor: pointer;
  }
  #home{
    padding: 3px 15px;
    margin: 0;
  }
  ul {
    list-style-type: none;
    background-color: #01172e;
  }
  #home a:hover {
    text-decoration: none;
  }
  #menu li {
    height: 50px;
  }
  .logo{
    padding-top: 10px;
    width: 200px;
    height: 40px;
  }
  .menuIcon{
    width: 40px;
    height: 40px;
    filter: invert(84%) sepia(37%) saturate(448%) hue-rotate(74deg) brightness(92%) contrast(94%);
  }
  .menuIcon:hover{
    filter: invert(72%) sepia(38%) saturate(7079%) hue-rotate(153deg) brightness(93%) contrast(104%);
  }
  /* menu celular */
  #menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .toggle {
    order: 1;
  }
  .menuLayer {
    width: 100vw;
    text-align: center;
    order: 3;
    display: none;
    padding: 15px 15px;
    color: #83e49d;
    text-decoration: none;
    font-weight: 600;
  }
  .menuLayer.active {
    display: block;
  }
  /* menu Desktop */
  @media all and (min-width: 900px) {
    nav{
        height: 50px;
    }
    .menuLayer {
      display: block;
      width: auto;
      padding: 15px 10px;
    }
    .toggle {
      display: none;
    }
    #home {
      order: 0;
    }
    .menuLayer {
      order: 1;
    }
    #menu{
        justify-content: flex-start;
    }
  }